* {
Margin: 0px;
Padding: 0px;        /* < ----- some elements have a certain margin with this everything is controlled here*/
}
h1 {
font: bold 20px Tahoma;    
}
header, section, footer, aside, nav, article, hgroup{
display:block;            /*  <---------- display all of this tags as blocked list so its compatible with any browser*/
}
body{
text-align: center;        /*     <----------- make sure it displays center every fucking where*/
}
#wrap {
border: 1px solid black;
width: 1000px;        /* <--------- good number for a website*/
margin:  20px; auto;    /* <--------from top 20px and auto for the rest */
text-align: left;      /*<------- the website the body is centered but the contents the meat is to the left as usual*/
}
#topheader {              /*  < -----------the header tag in html5*/
background: yellow;
border: 1px solid blue;
padding: 20px;
}	
#topmenu {               /* <------ navigation part*/
background: blue;
color: white;
}
#topmenu li {         /*<------ top menu li or options rather*/
display: inline-block;                   /*  <----------------display em as inline this time horizontally */
list-style: none;
padding: 5px;
font:  bold14px Tahoma;
}
#mainsection {             /*   <------------ section part*/
float: left;              /* <----------float this left and the rest right hahahah*/
width: 660px;
margin: 30px;     /*<-------margin all around    /*  760 - 280 left  */
}
#sidenews {         /*   <----------- aside tag in html5*/
float: left;
width: 220px;
margin: 20px 0px;
padding: 30px;
background: #66cccc;
}
#thefooter {   	/*<----------footer html5*/
clear:both;             /*  <-----for this I don’t wanna float no where foo, leave it alone*/
text-align: center;
padding: 20px;
border-top: 2px solid green;    /* <----- only border the top*/
}
article {     /*<---content inside content  article from html5*/
background: #fffbcc;
border: 1px solid red;
padding: 20px;
margin-bottom: 15px;   /* <-----separate from each other from the bottom of it*/

}
article footer {
text-align: right;
}
